$secBG: rgb(66, 66, 66);
$artTnL: rgb(204, 204, 204);
$artTnLAlt: rgb(197, 93, 93);

@mixin centerGrid() {
  display: grid;
  place-items: center;
}

// Figure the best place for the global lines are in the header, since it comes first.
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  @include centerGrid();
  background: rgb(124, 0, 0);
  min-height: 10vh;

  >h1 {
    font-size: 20px;
    color: rgb(248, 196, 196);
  }

  >nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    width: 100%;
  }
  
}

nav>a {
  font-size: 12px;
  color: rgb(248, 196, 196);
  text-decoration: none;
  font-weight: bold;
}